* {
    box-sizing: border-box;
}
.body{
    
}
.mainBar{
    height: 70px;
    background-color: #F55A5A;
    padding: 20px;
    align-items: center;
    /*box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);*/
}
.el--para{
    text-align: center;
    color: white;

    
}

.contact-card{
    display: flex;
    margin-top: 25px;
    align-items: center;  
    flex-wrap: nowrap; 
}
.city--image{
    max-width: 100%;
}
.next--view{
    padding: 3px 15px;
}

span{
    margin-right: 10px;
}

    

